= render "layouts/alert"
%div.row.padding-row
  %div.container
    %div.col-md-8.col-md-offset-2
      %div.row
        %div.col-md-4.col-md-offset-4
          %h3.text-center
            = t('.seccion')
            %hr.small
      %div.p.text-center.padding-row
        = t('.titulo')
        %br
        = t('.subtitulo')
      = form_for(@user, html: { multipart: true }, :validate => true) do |f| 
        %div.row
          %div.col-md-10.col-md-offset-1.padding-row
            %div.col-md-3
              = t('.radio.titulo')
            %div.col-md-3
              = f.radio_button :government_type, 'estatal', :checked => @estatal_cheked , :onclick => "this.form.submit();", :class => 'js-government-type'
              = label :government_type_estatal,  t('.radio.estado')
            %div.col-md-3
              = f.radio_button :government_type, 'municipal', :checked => @municional_cheked, :onclick => "this.form.submit();", :class => 'js-government-type'
              = label :government_type_municipal,  t('.radio.municipio')
            %div.col-md-3
              = f.radio_button :government_type, 'delagacion', :checked => @delegacional_cheked, :onclick => "this.form.submit();", :class => 'js-government-type'
              = label :government_type_delegacional,  t('.radio.delegacion')
        %div.text-red
          = @user.errors[:municipality][0].to_s
        - if @estatal_cheked || @municional_cheked
          %div.row.margin-text-field
            %div.col-md-8.col-md-offset-2.padding-row 
              = f.select(:state, @states, {:include_blank => t('.state_hint')}, :class => 'form-control')
              %div.text-red
                = @user.errors[:state][0].to_s
        - if @municional_cheked 
          %div.row.margin-text-field
            %div.col-md-8.col-md-offset-2.padding-row
              = f.text_field :municipality, :placeholder => t('.municipality_hint'), :class => 'form-control'
              %div.text-red
                = @user.errors[:municipality][0].to_s
        - if @delegacional_cheked              
          %div.row.margin-text-field
            %div.col-md-8.col-md-offset-2.padding-row
              = f.select(:deputation, @deputations, {:include_blank => t('.deputation_hint')}, :class => 'form-control')
              %div.text-red
                = @user.errors[:deputation][0].to_s
        %div.row.margin-text-field
          %div.col-md-8.col-md-offset-2.padding-row
            = f.label t('.dependency_name')
            = f.text_field :dependency_name , :placeholder =>  t('.dependency_name_hint'), :class => 'form-control'
            %div.text-red
              = @user.errors[:dependency_name][0].to_s
        %div.row.margin-text-field
          %div.col-md-8.col-md-offset-2.padding-row
            = f.label t('.full_name')
            = f.text_field :full_name , :placeholder =>  t('.full_name_hint'), :class => 'form-control'
            %div.text-red
              = @user.errors[:full_name][0].to_s
        %div.row.margin-text-field
          %div.col-md-8.col-md-offset-2.padding-row
            = f.label t('.email')
            = f.email_field :email , :placeholder =>  t('.email_hint'), :class => 'form-control'
            %div.text-red
              = @user.errors[:email][0].to_s
        %div.row.margin-text-field
          %div.col-md-8.col-md-offset-2
            = f.label t('.password')
            = f.password_field :password, autocomplete: "off" , :placeholder =>  t('.password_hint'), :class => 'form-control'
        %div.row.margin-text-field
          %div.col-md-8.col-md-offset-2.padding-row
            = f.password_field :password_confirmation, autocomplete: "off" , :placeholder =>  t('.password_confirmation_hint'), :class => 'form-control'
            %div.text-red
              = @user.errors[:password][0].to_s
        %div.actions.margin-text-field
          %div.col-md-7.col-md-offset-2.padding-row
            = check_box("accept", :key, {checked: @acepted})#check_box_tag :accept, :checked => @acepted
            = t('.terminos')
            = link_to t('.liga_terminos'), root_path, :class => 'a-green'
          %div.col-md-8.col-md-offset-2.padding-row
            = f.submit t('.registra'), :class => 'btn btn-lg btn-success center-block', :disabled => !@acepted
%div.separador-verde
= render 'layouts/footer'
