= content_for :page_title, 'Red México Abierto: Inicio'
%div.inicio
  %div.overlay-photo
  %div.container#actualizaciones
    =# link_to 'Recibe actualizaciones','#'
  = render 'layouts/header'
  %div.container.texto-inicio
    %div.col-md-12
      %h3.tag-line
        La Red México Abierto impulsa la colaboración nacional para compartir
        herramientas y experiencias que faciliten la publicación
        y uso de Datos en
        todos los niveles de gobierno del país.
      %p.center-text
        %div
          = link_to image_tag("play.png", {class:'img-responsive center-block image-button'}), 'https://www.youtube.com/watch?v=S6vbBzaAUlM',{target:'_blank'}
        %a{href:'https://www.youtube.com/watch?v=S6vbBzaAUlM', target: '_blank'}
          Conoce más sobre la Red

%div.separador-verde

%div.row.section
  %div.container
    %div.col-md-12
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title
          Lo
          %a
            más reciente
          de la red
          %hr
      %ul.card-reciente.col-md-10.col-md-offset-1
        %li.avatar
          = image_tag 'placeholders/president.jpg', class: 'img-circle'
        %li.estado
          %a{href:'http://www.twitter.com/redmxabierto', target:'_blank'}
            @RedMXAbierto

          \: El estado de Puebla se acaba de unir a la red, revisa sus 
          avances en
          %a{href:'http://www.mxabierto.org/puebla', target:'_blank'}
            mxabierto.org/puebla

          %br
          %p.hora
            %span.glyphicon.glyphicon-time{"aria-hidden" => "true"}
            Hace 3 horas
%hr

%div.row.section
  %div.container
    %div.col-md-12
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title
          Miembros
          %hr
      %div.col-md-6.col-md-offset-3
        %p.text-center
          Red México Abierto está compuesta por funcionarios de los
          gobiernos de municipios, estados, el Distrito Federal
          y sus delegaciones.
        %p.text-center
          Al formar parte de la Red inicias en un proceso de apertura
          de datos que se describe en la
          Guía de Implementación 
          y que se compone de 4 pasos:

%div.container.section
  %div.row
    %div.etapa.col-md-3
      %h3.text-center
        Planea
        %span.glyphicon.glyphicon-question-sign{"aria-hidden" => "true"}
      %div
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/playa.jpg', class: 'img-circle'
          %li.estado
            Cancún, Q.R.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/guadalajara.jpg', class: 'img-circle'
          %li.estado
            Guadalajara, Jal.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/silla.jpg', class: 'img-circle'
          %li.estado
            Monterrey, N.L.
    %div.etapa.col-md-3
      %h3.text-center
        Publica
        %span.glyphicon.glyphicon-question-sign{"aria-hidden" => "true"}
      %div
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/playa.jpg', class: 'img-circle'
          %li.estado
            Cancún, Q.R.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/guadalajara.jpg', class: 'img-circle'
          %li.estado
            Guadalajara, Jal.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/silla.jpg', class: 'img-circle'
          %li.estado
            Monterrey, N.L.
    %div.etapa.col-md-3
      %h3.text-center
        Perfecciona
        %span.glyphicon.glyphicon-question-sign{"aria-hidden" => "true"}
      %div
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/playa.jpg', class: 'img-circle'
          %li.estado
            Cancún, Q.R.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/guadalajara.jpg', class: 'img-circle'
          %li.estado
            Guadalajara, Jal.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/silla.jpg', class: 'img-circle'
          %li.estado
            Monterrey, N.L.
    %div.etapa.col-md-3
      %h3.text-center
        Promueve
        %span.glyphicon.glyphicon-question-sign{"aria-hidden" => "true"}
      %div
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/playa.jpg', class: 'img-circle'
          %li.estado
            Cancún, Q.R.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/guadalajara.jpg', class: 'img-circle'
          %li.estado
            Guadalajara, Jal.
        %ul.card-miembros
          %li.avatar
            = image_tag 'placeholders/silla.jpg', class: 'img-circle'
          %li.estado
            Monterrey, N.L.
  %div.row.section
    %div.col-md-12
      %p.text-center
        %a
          = link_to t('.Ver a todos los miembros'), members_path
      %p.text-center
        ¿Te gustaría formar parte de la Red México Abierto?
      %a{:href => "#{new_user_registration_path}"}
        %button.btn.btn-lg.btn-success.center-block
          ¡Regístrate!

%hr

%div.row.section.herramientas
  %div.container
    %div.row.section
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title.section
          Herramientas
          %hr
        %p.text-center
          Los miembros de la Red México Abierto cuentan
          con una caja de herramientas para abrir sus datos:
    %div.row
      %div.col-md-4
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'datatron.png'
            %li
              %h3
                Datatrón
            %li
              Priorización de temas
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'adela.png'
            %li
              %h3
                Adela
            %li
              Crea tu plan de apertura e
              inventario de datos

      %div.col-md-4
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'refinadora.png'
            %li
              %h3
                Refinadora
            %li
              Estandariza y valida datasets
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'nubedatos.png'
            %li
              %h3
                Nube de Datos
            %li
              Sube tus datos a la nube
      %div.col-md-4
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'publisher.png'
            %li
              %h3
                Publisher
            %li
              Publica en un portal de datos abiertos
        %div.herramienta
          %ul
            %li.avatar
              = image_tag 'templates.png'
            %li
              %h3
                Templates
            %li
              Promueve y socializa tus datos

    %div.row.section-mini
      %div.col-md-12
        %p.text-center
          %a.en_el_futuro
            Ver todas las herramientas

    %div.row
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title
          %hr

    %div.row.section-mini
      %div.col-md-12
        %div.col-md-5.col-md-offset-2
          %div.row
            = image_tag 'recursos.png', class: 'imagen-herramienta img-responsive'
            %h3.titulo-herramienta
              Recursos Institucionales
          %div.row
            %ul.lista-herramienta
              %li
                Decreto para la regulación de datos abiertos
              %li
                Lineamientos para la liberación de datos
                abiertos
              %li
                Acuerdo para la liberación y acceso de datos
                abiertos
        %div.col-md-5
          %div.row
            = image_tag 'planeacion.png', class: 'imagen-herramienta img-responsive'
            %h3.titulo-herramienta
              Planeación
          %div.row
            %ul.lista-herramienta
              %li
                Oficio de designación del enlace y el administrador
              %li
                Inventario general de datos
              %li
                Modelo Plan de Apertura
              %li
                Infraestructura Estratégica de Datos Abiertos
%hr

%div.row.section
  %div.container.experiencias
    %div.row.section
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title.section
          Experiencias
          %hr
    %div.col-md-6
      = image_tag 'placeholders/obama.jpg', class: 'img-rounded col-sm-3'
      %div.col-sm-9
        %p
          %h3
            Experiencia, aciertos y áreas de oportunidad
          %h5.italicas
            Gerardo Pérez - Unidad Gobierno Digital
            %br
            Marzo 18, 2015
          %p
            El 1 de enero del 2014, 
            iniciamos con la actual administración y se planteó la necesidad de 
            comenzar a implementar nuevos mecanismos que integren a la ciudadanía 
            en el proceso de toma de decisiones.
          %p
            %a.en_el_futuro
              Ver la historia completa >
    %div.col-md-6
      = image_tag 'placeholders/bachelet.jpg', class: 'img-rounded col-sm-3'
      %div.col-sm-9
        %p
          %h3
            El impulso al Gobierno Abierto
          %h5.italicas
            Andrea Barenque - Dirección de Gobierno Abierto
            %br
            Marzo 24, 2015
          %p
            La colaboración como clave para la apertura: Gobierno Abierto se 
            refiere al impulso de nuevas formas de comunicación y colaboración 
            entre gobierno y sociedad
          %p
            %a.en_el_futuro
              Ver la historia completa >
%hr
%div.row.section
  %div.container
    %div.mini-section
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title.section
          Temas más tratados
          %hr
    %div.section
      %div.col-md-8.col-md-offset-2
        %ul.card-experiencias.col-md-6
          %li
            Usando Datos Abiertos en temas de Seguridad.
          %li.context-info
            Seguridad
          %li
            %i.fa.fa-circle.seguridad
        %ul.card-experiencias.col-md-6
          %li
            Usando Datos Abiertos en temas de Salud.
          %li.context-info.salud
            Salud
          %li.circulo
            %i.fa.fa-circle.salud
        %ul.card-experiencias.col-md-6
          %li
            Usando Datos Abiertos en temas de Transporte y Tráfico.
          %li.context-info
            Transporte y Tráfico
          %li.circulo
            %i.fa.fa-circle.transporte
        %ul.card-experiencias.col-md-6
          %li
            Usando Datos Abiertos en temas de Educación.
          %li.context-info
            Educación
          %li.circulo
            %i.fa.fa-circle.educacion

%div.row.section.azulado
  %div.container
    %div.col-md-12
      %form.form-inline.newsletter.col-md-offset-2
        .form-group
          %label{:for => "exampleInputEmail2"}
            ¿Quiéres saber más sobre la Red México Abierto?
          %div.input-group.input-group-lg
            %input.form-control{ :placeholder => "Correo electrónico", :type => "email"}
        %button.btn.btn-default.btn-success.btn-lg{:type => "submit"}
          %i.fa.fa-check

%div.separador-verde
= render 'layouts/footer'

:javascript
  $( document ).ready(function(){
    $('.en_el_futuro').click(function(){
      alert('Podrás ver el link en el primer release.');
    });
  });
