- if activities.any?
  %h4= t('.activities')
  - activities.each do |activity|
    - user_activity = @user_activities.find_by(activity: activity)
    .checkbox{ 'ng-init' => "activities.user_activities[#{user_activity.id}] = #{user_activity.checked}" }
      = label_tag do
        %input{ type: 'checkbox', 'ng-model' => "activities.user_activities[#{user_activity.id}]", 'ng-change' => "activities.activityChecked(#{user_activity.id})" }
        = activity.name
        - if activity.tools.any?
          .row.slight-top-margin
            - activity.tools.each do |tool|
              .col-sm-2.text-center
                = image_tag(tool.icon_url(:thumb), class: 'tool-icon') if tool.icon?
                %p= tool.name
