- if @stage.steps.any?
  %p= t('.steps')

  %table.table.table-hover
    %thead
      %tr
        %th #
        %th= t('.step_name')
        %th= t('.actions')
    %tbody
      - @stage.steps.each_with_index do |step, idx|
        %tr
          %td= idx
          %td= step.name
          %td
            %a.open-modal.action_link= t('.edit')
        -# Hidden modal
        = render 'edit_step_modal', step: step
