- if steps.any?
  %br    
    %div.row
  - steps.each_with_index do |step, index|
    - if index == 0
      %div.col-lg-1.text-green.text-padding-circles{ class: "listenercolor#{index}"}
        = label index,  index+1, :class => 'js-activity-number', :id => index
    - else
      %div.col-lg-1.text-padding-circles{ class: "listenercolor#{index}"}
        = label index,  index+1, :class => 'js-activity-number', :id => index
  %br
  %br
  - steps.each_with_index do |step, index|
    %div.row
    - if index == 0
      %div.listener{ class: "hide#{index}"}
        %h3= step.name
        = render 'activities_listing', stage: step.stage, activities: step.activities
    - else
      %div.listener.hide{ class: "hide#{index}"}
        %h3= step.name
        = render 'activities_listing', stage: step.stage, activities: step.activities
- else
  .jumbotron.text-center.slight-top-margin
    %p= t('.no_steps')
:javascript
  $('.js-activity-number').click(function() {
      for (i = 0; i < 30; i++) { 
        $(".hide"+i).addClass("hide");
        $(".listenercolor"+i).removeClass("text-green");
      }
      $(".hide"+this.id).removeClass("hide");
      $(".listenercolor"+this.id).addClass("text-green");
  });