= form_for [:admin, @stage, @step, activity] do |f|
  .modal.fade{ id: "activityModal#{activity.id}", tabindex: '-1', role: 'dialog', 'aria-labelledby'=> 'activityModalLabel', 'aria-hidden'=> 'true' }
    .modal-dialog
      .modal-content
        .modal-header
          %button{ type: 'button', class: 'close', 'data-dismiss'=> 'modal', 'aria-label'=> 'Close' }
            %span{ 'aria-hidden'=> 'true' }
              &times;
          %h4#myModalLabel.modal-title= t('.activity')
        .modal-body
          .form-group
            = f.label :name, t('.activity_name')
            = f.text_field :name, class: 'form-control'
            .slight-top-margin
            - if @tools.any?
              %p= t('.activities')
              = f.collection_check_boxes(:tool_ids, @tools, :id, :name) do |b|
                .checkbox
                  = b.label { b.check_box + b.text }

          .form-group
        .modal-footer
          %button.btn.btn-default{ 'data-dismiss'=> 'modal' }= t('.cancel')
          = f.submit t('.save'), class: 'btn btn-primary'
