%footer.branding
  %div.container
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %p.texto-padding-top-down
          = link_to t('footer.menu.miembros'), root_path, :class => 'a-green'
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.acerca'), root_path, :class => 'a-green'
      %div.col-xs-6.col-sm-4.text-bottom
        %div.row
          %div.col-xs-8.col-sm-6.text-right
            %i.fa.fa-envelope
          %div.col-xs-4.col-sm-6.text-left
            %i.fa.fa-twitter 
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.herramientas'), root_path, :class => 'a-green'
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.preguntas'), root_path, :class => 'a-green'
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.foro'), root_path, :class => 'a-green'
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.glosario'), root_path, :class => 'a-green'    
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.blog'), root_path, :class => 'a-green'
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.guia'), root_path, :class => 'a-green'   
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-left
        %p.texto-padding-top-down
      %div.col-xs-8.col-sm-6
        %div.a-green
          %p.texto-padding-top-down
            = link_to t('footer.menu.estudio'), root_path, :class => 'a-green'
    %div.row.texto-padding-top-down
      %div.col-xs-6.col-sm-2.text-center
      %div.col-xs-6.col-sm-2.text-center
        = image_tag("mexicoabierto30.png", :alt => "rss feed")
      %div.col-xs-6.col-sm-2.text-center
        = image_tag("mexicodigital30.png", :alt => "rss feed")
      %div.col-xs-6.col-sm-2.text-center
        = image_tag("datos30.png", :alt => "rss feed")
      %div.col-xs-6.col-sm-2.text-center
        = image_tag("usaid30.png", :alt => "rss feed")
%footer