%div.row.section
  %div.container
    %div.col-md-12
    = form_tag({controller: "members", action: "index"}, method: "get") do
      %div.col-md-4.col-md-offset-4
        %h3.text-center.section-title
          = t('.title')
        %hr.small
      %div.col-md-6.col-md-offset-3.text-center
        = t('.subtitle')
      %div.col-md-6.col-md-offset-3.text-center.top30
        = t('.num_miembros',num: @user.count)
      %div.col-md-6.col-md-offset-3.top30
        %div.row.form-control
          %div.col-md-4.text-right
            = t('.seleccionar')
          %div.col-md-8.text-left
            = select("post", "government_type", type_of_members.collect {|p| [  p[1] ] }, {include_blank: 'Todos',:selected => @type},onchange: "this.form.submit();", :class => 'form-control-members')
      - @user.each do |user|
        %div.col-md-4.text-center.top30
          %div.marco
            -if user.government_type == 'estatal'
              %div.text-center
                = image_tag("estado.png")
              %br
              = user.state
            -if user.government_type == 'municipal'
              %div.text-center
                = image_tag("municipio.png")
              %br
              = user.municipality+', '+user.state
            -if user.government_type == 'delegacion'
              %div.text-center
                = image_tag("federacion.png")
              %br
                = user.deputation+', D.F.' 
            %hr.small
            = t('.herramientas')
  
  %div.col-md-12.container
    %div.col-md-4.col-md-offset-4
      %h3.text-center.section-title
      %hr.small
      %p.text-center
        ¿Te gustaría formar parte de la Red México Abierto?
      %a{:href => "#{new_user_registration_path}"}
        %button.btn.btn-lg.btn-success.center-block
          ¡Regístrate!
